<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emporio da Carne</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min-zephyr.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmporioDaCarne_POS.styles.css" asp-append-version="true" />
</head>
<body class="body-login ">
    <div class="container vh-login">
        <main role="main" class="pb-3 vh-login">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer footer-login">
        <div class="container pt-2 footer-text-login">
            &copy; 2024 - EmporioDaCarne_POS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
