@model EmporioDaCarne_POS.Models.ViewModels.POSViewModel

@{
    ViewData["Title"] = "Point of Sale";
}

<div class="pos-page">
    <div class="lista">Lista</div>
    <div class="produtos">Produtos</div>
    <div class="salvar">Salvar</div>
    <div class="adicionar">Adicionar Lista</div>
    <div class="deletar">Deletar</div>
    <div class="remover">Remover lista</div>
</div>
